html {
  font-size: 16px;
  font-family: "Arial",sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 60%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo_first {
  font-family: "Arial",sans-serif;
  font-weight: bolder;
}

.logo_second {
  font-family: "Arial",sans-serif;
  font-weight: lighter;
  color: darkgrey;
}

nav {
  position: relative;
  right: 24px;
}

nav ul li {
  display: inline;
}

/* Start Here Section */

.start_here_section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #D3D3D3;
  padding: 25px;
  box-sizing: border-box;
}

.start_here_section img {
  width: 50%;
  height: auto;
}

.start_here_copy {
  margin: auto;
  width: 25%;
  color: 	#404040;
}

.start_here_cta {
  background-color: 	#404040;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
