html {
  font-size: 16px;
  font-family: "Arial",sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 60%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo_first {
  font-family: "Arial",sans-serif;
  font-weight: bolder;
}

.logo_second {
  font-family: "Arial",sans-serif;
  font-weight: lighter;
  color: darkgrey;
}

nav {
  position: relative;
  right: 24px;
}

nav ul li {
  display: inline;
}
