html {
  font-size: 16px;
  font-family: "Arial",sans-serif;

}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 60%;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
}

.logo_first {
  font-family: "Arial",sans-serif;
  font-weight: bolder;
}

.logo_second {
  font-family: "Arial",sans-serif;
  font-weight: lighter;
  color: darkgrey;
}

nav {
  position: relative;
  right: 24px;
}

nav ul li {
  display: inline;
}

/* Start Here Section */

.start_here_section {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #D3D3D3;
  padding: 25px;
  box-sizing: border-box;
}

.start_here_section img {
  width: 60%;
  height: auto;
}

.start_here_copy {
  margin: auto;
  width: 25%;
  color: 	#404040;
}

.start_here_cta {
  background-color: 	#404040;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Keep Practicing Section */

.keep_practicing_section {
  padding: 25px;
  box-sizing: border-box;
}

.keep_practing_main {
  width: 60%;
  float: left;
}

.keep_practing_main img {
  width: 100%;
}

.keep_practing_main h1 {
  color: #404040;
}

.keep_practing_main p {
  color: grey;
}

.keep_practing_main .caption {
  color: black;
  font-size: .75rem;
}

.campus_info_column {
  width: 40%;
  float: left;
  box-sizing: border-box;
  padding-left: 24px;
}

.info_image {
  width: 35%;
  height: auto;
  float: left;
  box-sizing: border-box;
}

.info_image img {
  width:100%;

}

.info_copy {
  width: 65%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
}

.campus_info_column h2 {
  color: #404040;
}

.campus_info_column p {
  color: #grey;
}

.campus_info_column a {
  color: LightBlue;
  text-decoration: none;
}

/* next section */
